/* The Quick Ref table */

#quickReference
  background-color: #F1F1F1
  border: 1px solid #E6E6E6

  th
    background-color: #333333
    color: #EEE

  tr:nth-child(even)
    background: #F1F1F1

  tr:nth-child(odd)
    background: #F6F6F6

  td, th
    padding: 5px

  .table-subhead 
    td
      padding: 10px 0px 10px 5px
      background-color: #E6E6E6


/* Need a bit more space between sections of a page
   This is really evident on the "Toolbar" page */

p.caption
  margin-top: 50px !important

